.benefits{
    background-image: url('../Images/background.jpeg');
    margin-top: 150px;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    color: white;

    hr{
        visibility: hidden;
    }

    &__maintext{
        align-items: center;
        text-align: center;
        margin-top: 75px;

        h1{
            font-size: 50px;
        }
    }
}
